<div>
    <h2 id="page-heading">
        <span jhiTranslate="subjektivApp.release.home.title">Releases</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-release-sub" [routerLink]="['/release-sub/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="subjektivApp.release.home.createLabel">
            Create a new Release
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="releases?.length === 0">
        <span jhiTranslate="subjektivApp.release.home.notFound">No releases found</span>
    </div>
    <div class="table-responsive" *ngIf="releases?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="title"><span jhiTranslate="subjektivApp.release.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="versionCount"><span jhiTranslate="subjektivApp.release.versionCount">Version Count</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="publishDate"><span jhiTranslate="subjektivApp.release.publishDate">Publish Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="uploadTimestamp"><span jhiTranslate="subjektivApp.release.uploadTimestamp">Upload Timestamp</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="numberOfPages"><span jhiTranslate="subjektivApp.release.numberOfPages">Number Of Pages</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fileSize"><span jhiTranslate="subjektivApp.release.fileSize">File Size</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="downloadLink"><span jhiTranslate="subjektivApp.release.downloadLink">Download Link</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="documentId"><span jhiTranslate="subjektivApp.release.document">Document</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let release of releases ;trackBy: trackId">
                <td><a [routerLink]="['/release-sub', release.id, 'view' ]">{{release.id}}</a></td>
                <td>{{release.title}}</td>
                <td>{{release.versionCount}}</td>
                <td>{{release.publishDate | date:'mediumDate'}}</td>
                <td>{{release.uploadTimestamp | date:'medium'}}</td>
                <td>{{release.numberOfPages}}</td>
                <td>{{release.fileSize}}</td>
                <td>{{release.downloadLink}}</td>
                <td>
                    <div *ngIf="release.documentId">
                        <a [routerLink]="['/document-sub', release.documentId , 'view' ]" >{{release.documentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/release-sub', release.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/release-sub', release.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(release)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
