<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="release">
            <h2><span jhiTranslate="subjektivNewsApp.release.detail.title">Release</span> {{release.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="subjektivNewsApp.release.title">Title</span></dt>
                <dd>
                    <span>{{release.title}}</span>
                </dd>
                <dt><span jhiTranslate="subjektivNewsApp.release.chronoOrderNo">Chrono Order No</span></dt>
                <dd>
                    <span>{{release.chronoOrderNo}}</span>
                </dd>
            </dl>
            <dl class="row-md jh-entity-details" *ngFor="let document of release.documents">
                <dt>
                    <span>
                        <a (click)="downloadDocument(document)">{{document.title}} - Version: {{document.version}}</a>
                    </span>
                </dt>

            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/release', release.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
