<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="document">
            <h2><span jhiTranslate="subjektivNewsApp.document.detail.title">Document</span> {{document.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="subjektivNewsApp.document.title" [ngbTooltip]="'subjektivNewsApp.document.help.title' | translate">Title</span></dt>
                <dd>
                    <span>{{document.title}}</span>
                </dd>
                <dt><span jhiTranslate="subjektivNewsApp.document.version">Version</span></dt>
                <dd>
                    <span>{{document.version}}</span>
                </dd>
                <dt><span jhiTranslate="subjektivNewsApp.document.publishDate">Publish Date</span></dt>
                <dd>
                    <span>{{document.publishDate}}</span>
                </dd>
                <dt><span jhiTranslate="subjektivNewsApp.document.uploadTimestamp">Upload Timestamp</span></dt>
                <dd>
                    <span>{{document.uploadTimestamp}}</span>
                </dd>
                <dt><span jhiTranslate="subjektivNewsApp.document.numberOfPages">Number Of Pages</span></dt>
                <dd>
                    <span>{{document.numberOfPages}}</span>
                </dd>
                <dt><span jhiTranslate="subjektivNewsApp.document.fileSize">File Size</span></dt>
                <dd>
                    <span>{{document.fileSize}}</span>
                </dd>
                <dt><span jhiTranslate="subjektivNewsApp.document.downloadLink">Download Link</span></dt>
                <dd>
                    <span>{{document.downloadLink}}</span>
                </dd>
                <dt><span jhiTranslate="subjektivNewsApp.document.mimeType">Mime Type</span></dt>
                <dd>
                    <span>{{document.mimeType}}</span>
                </dd>
                <dt><span jhiTranslate="subjektivNewsApp.document.content">Content</span></dt>
                <dd>
                    <div *ngIf="document.content">
                        <a [routerLink]="['/content', document.content?.id, 'view']">{{document.content?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="subjektivNewsApp.document.release">Release</span></dt>
                <dd>
                    <div *ngIf="document.release">
                        <a [routerLink]="['/release', document.release?.id, 'view']">{{document.release?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/document', document.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
