<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-document-heading" jhiTranslate="subjektivNewsApp.document.home.createOrEditLabel">Create or edit a Document</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subjektivNewsApp.document.title" for="field_title" [ngbTooltip]="'subjektivNewsApp.document.help.title' | translate">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subjektivNewsApp.document.version" for="field_version">Version</label>
                    <input type="number" class="form-control" name="version" id="field_version"
                           formControlName="version"/>
                    <div *ngIf="editForm.get('version')!.invalid && (editForm.get('version')!.dirty || editForm.get('version')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('version')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('version')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subjektivNewsApp.document.publishDate" for="field_publishDate">Publish Date</label>
                    <div class="input-group">
                        <input id="field_publishDate" type="text" class="form-control" name="publishDate" ngbDatepicker  #publishDateDp="ngbDatepicker" formControlName="publishDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="publishDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('publishDate')!.invalid && (editForm.get('publishDate')!.dirty || editForm.get('publishDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('publishDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subjektivNewsApp.document.uploadTimestamp" for="field_uploadTimestamp">Upload Timestamp</label>
                    <div class="d-flex">
                        <input id="field_uploadTimestamp" type="datetime-local" class="form-control" name="uploadTimestamp" formControlName="uploadTimestamp" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subjektivNewsApp.document.numberOfPages" for="field_numberOfPages">Number Of Pages</label>
                    <input type="number" class="form-control" name="numberOfPages" id="field_numberOfPages"
                           formControlName="numberOfPages"/>
                    <div *ngIf="editForm.get('numberOfPages')!.invalid && (editForm.get('numberOfPages')!.dirty || editForm.get('numberOfPages')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numberOfPages')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('numberOfPages')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subjektivNewsApp.document.fileSize" for="field_fileSize">File Size</label>
                    <input type="number" class="form-control" name="fileSize" id="field_fileSize"
                           formControlName="fileSize"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subjektivNewsApp.document.downloadLink" for="field_downloadLink">Download Link</label>
                    <input type="text" class="form-control" name="downloadLink" id="field_downloadLink"
                           formControlName="downloadLink"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subjektivNewsApp.document.mimeType" for="field_mimeType">Mime Type</label>
                    <input type="text" class="form-control" name="mimeType" id="field_mimeType"
                           formControlName="mimeType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subjektivNewsApp.document.content" for="field_content">Content</label>
                    <select class="form-control" id="field_content" name="content" formControlName="content">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="contentOption.id === editForm.get('content')!.value?.id ? editForm.get('content')!.value : contentOption" *ngFor="let contentOption of contents; trackBy: trackById">{{contentOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="subjektivNewsApp.document.release" for="field_release">Release</label>
                    <select class="form-control" id="field_release" name="release" formControlName="release">
                        <option *ngIf="!editForm.get('release')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="releaseOption.id === editForm.get('release')!.value?.id ? editForm.get('release')!.value : releaseOption" *ngFor="let releaseOption of releases; trackBy: trackById">{{releaseOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('release')!.invalid && (editForm.get('release')!.dirty || editForm.get('release')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('release')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
